@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@import '~reset-css/sass/reset';
@import 'print.scss';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

.debug{ border: 1px solid red; }

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
    line-height: 1.5;
    font-size: 16px;
}

$base-font-size: 1rem;
h1 { font-size: $base-font-size*2 }
h2 { font-size: $base-font-size+ .8rem }
img { width: 100%; height: auto; }

.text-center { text-align: center}
strong { font-weight: 700!important; }

.pseudo-block {
    content: '';
    display: block;
}

.app-container {
    background: hsl(30,90%,98%);
    max-width: 64rem;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 18.75rem auto;
}

.title {
    font-size: $base-font-size + .5;
    &:after {
        @extend .pseudo-block;
        height: 0;
        border-bottom: 1px solid #6077f5;
        margin: .5rem 0 1rem;
    }
}
.subtitle {
    font-size: $base-font-size+.2
}
.user-info {
    background-color: #3F51B5;
    padding: 1rem;
    color: #fff;
    .name {
        border-bottom: 1px solid #6077f5;
    }
    .position {
        font-size: $base-font-size+.4;
    }
    .user-thumb {
        max-width: 12rem;
        margin: auto;
        overflow: hidden;
        img { border-radius: 50%; }
    }
}

.details {
    padding: 1.87rem 3.75rem;
    .description {
        margin: 0 1.8rem 1.8rem;
        position: relative;
        &:before {
            @extend .pseudo-block;
            height: 100%;
            border-left : 2px dashed #3f51b5;
            position: absolute;
            left: -1rem;
        }
    }
}

.date {
    position: relative;
    margin-left: 1.8rem;
    font-size: $base-font-size+.2;
    &:before {
        content: "\f2c2";
        font-family: FontAwesome;
        font-size: $base-font-size - .2rem;
        position: absolute;
        left: -1.5rem;
        top: 0.3125rem;
    }
}

.role-tasks, .key-features {
    span {
        color: #3F51B5;
        @extend strong;
    }
}