@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import 'node_modules/reset-css/sass/reset';
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "print.scss";

.debug{ border: 1px solid red; }

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
    line-height: 1.5;
    font-size: 16px;
}

$base-font-size: 1rem;
h1{ font-size: $base-font-size*2 }
h2{ font-size: $base-font-size+ .8rem }
img { width: 100%; height: auto; }

.text-center { text-align: center}
strong { font-weight: 700!important; }

.app {
    background: hsl(30,90%,98%);
    max-width: 64rem;
    margin: auto;
    display: grid;
    grid-template-columns: 18.75rem auto;
}

.title {
    font-size: $base-font-size + .5;
    &:after{
        content: '';
        display: block;
        height: 0;
        border-bottom: 1px solid #6077f5;
        margin: .5rem 0 1rem;
    }
}

.user-info{
    background-color: #3F51B5;
    padding: 1rem;
    color: #fff;
    .name{
        border-bottom: 1px solid #6077f5;
    }
    .position{
        font-size: $base-font-size+.4;
    }
    .user-thumb{
        max-width: 12rem;
        margin: auto;
        overflow: hidden;
        img{ border-radius: 50%;}
    }
}

.details {
    padding: 1.87rem 3.75rem;
    .about-comp{
        margin: 0 1.8rem 1.8rem;
    }
}

.date{
    position: relative;
    margin-left: 1.8rem;
    &:before{
        content: "\f2c2";
        font-family: FontAwesome;
        font-size: $base-font-size - .6rem;
        position: absolute;
        left: -1.8rem;
        top: 0.3125rem;
    }
}

.role-tasks {
    span{
        color: #3F51B5;
        @extend strong;
    }
}